* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#root {
    width: 100vw;
    background-color: black;
    min-height: 100vh;
    display: grid;
    place-content: center;
}

.frame {
    background-color: purple;
    padding: 2.5vmin;
    border-radius: .5rem;
    color: azure;
    font-size: 200%;
    font-family: cursive;
    text-align: center;
    font-weight: bolder;
}
.calculator-title {
    text-transform: uppercase;
}
.screen {
    background-color: #aaa;
    border: 1px solid black;
    border-radius: .5rem;
    padding: -.2rem .3rem;
    margin: 1rem 0;
}
input[type="text"] {
    border: none;
    margin: 0 .5rem;
    font-size: 1.5rem;
    font-weight: bolder;
    color: #222;
    text-align: right;
    background-color: transparent;
}
input[type="button"] {
    width: 23%;
    height: 95%;
    background-color: azure;
    color: #111;
    font-weight: bolder;
    border: none;
    outline: none;
    margin: 1%;
    border-radius: .5rem;
}
.button-row {
    height: 3rem;
    margin: .5rem 0;
}